body{
    background-color:#1f2020;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
    margin: 0;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
       
}
#atual{
    border-bottom: 2px solid rgb(170, 2, 2);
    
}
a{
    text-decoration: none;
    color: white;
}
img{
    position: absolute;
    left: 700px;
    top: 150px;
    bottom: 800px;
}

.icones{
    margin: 20px;
    margin-left: 80px;
}
#camera{
   margin-left: 0;
    margin-right: 400px;
    
    }

ul{
    list-style: none;
    display: inline-block;
}
li{
    display: inline-block;
    color:white;
    margin: 50px;
}
.navegacao-cameras{
    text-align: center;
}
.descricao{
    color: white;
    margin-left: 30px;
    
    
}
.descricao p{
    color:rgb(209, 199, 199);
    max-width: 500px;
    margin-top: 30px;
    margin-bottom: ;
    
}
.descricao h2{
    display: inline-block;
}


h1{
    font-size: 90px;
    opacity: 10%;
    position: relative;
    z-index: -2;
    color: white;
    margin-left: 30px;

    
}
.form{
    margin-top: 50px;
    margin-bottom: 70px;
}
input{
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
input:focus{
    box-shadow: 0 0 0 0;
    border: 2px solid rgb(170, 2, 2);
    transition-duration: 0.5s;
    outline: 0;
    
}
button{
    margin-left: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 0 0;
    background-color: #393d3d;
    outline: 0;
    border: 0 none;
    
}
button:hover{
    cursor: pointer;
}
#black{
    color: rgb(170, 2, 2);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
.fadeIn {
        -webkit-animation: fadeIn 3s ease-in-out;
        -moz-animation: fadeIn 3s ease-in-out;
        -o-animation: fadeIn 3s ease-in-out;
        animation: fadeIn 5s ease-in-out;
        }
 .fadeInBody {
            -webkit-animation: fadeIn 3s ease-in-out;
            -moz-animation: fadeIn 3s ease-in-out;
            -o-animation: fadeIn 3s ease-in-out;
            animation: fadeIn 3s ease-in-out;
            }

